{% extends 'base/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Teachers List</div>
    <div class="card-body">
        <table class="table table-responsive-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            {% for teacher in teachers %}
    <tr>
      <th scope="row">{{ forloop.counter }} </th>
      <td>{{ teacher.name }}</td>
      <td>{{ teacher.designation }}</td>
      <td>
          <a class="btn btn-primary" href="{% url 'edit-teacher' teacher.id %}">Edit</a>
          <a class="btn btn-danger" href="{% url 'delete-teacher' teacher.id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
    </table>
       
    </div>
</div>

{% endblock %}